@page "/map"

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"/>
    <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#a8a00a">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#5991dd">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#5991dd">
    <!--FAVICON-->
   </Head>
   </html>
   <div class="earthquake">
           <nav>
               <img src="/finalbgimage3.jpg" class="img" />
           </nav>
       </div>
   <body>

      <center>

      
       <img src="/USTmapedited.jpg" alt="logo" width="50%" height="50%" class="img-thumbnail"/>


        <br />
        <button type="button" class="btn btn-warning">Upload Image</button>
        <br />
             <a href="dashboardfinal" class="btn btn-warning" type="button">
            Go back to dashboard
        </a>
        <br />
        <br />
              </center>
   </body>



@code {

}
