@page "/smstrigger"

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"/>
    <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#a8a00a">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#5991dd">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#5991dd">
    <!--FAVICON-->
   </Head>
</html>

<body>
    <div class="form-group">
                <label for="exampleFormControlTextarea1"><h2>SMS TRIGGER (DRILLS AND PROTOCOLS)</h2>
                </label>
                <br />
                                <textarea class="form-control" 
                id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
            <center>
            <button type="submit" class="btn btn-warning myclass">
            Send to users within UST</button>
            <button type="submit" class="btn btn-warning myclass">
            Send only to LCMC within UST</button>
            <button type="submit" class="btn btn-warning myclass">
            Send only to Stakeholders within UST</button>


<br />
<br />
<br />
        <a href="dashboardfinal" class="btn btn-warning" type="button">
            Go back to dashboard
        </a>
        </center>


</body>
@code {

}