@page "/sop"

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"/>
    <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#a8a00a">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#5991dd">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#5991dd">
    <!--FAVICON-->

   </Head>
</html>
<header>

</header>
<body>
    

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/earthquake.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Things to do before-during-after an earthquake!</h5>
        <p class="card-text">Here is an image where you could see the things to do before-during-after an earthquake occurs, click the image to enlarge the image.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/SOP.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Earthquake Preparedness</h5>
        <p class="card-text">Know what to pack and prepare before an earthquake occurs! prevention is always better!</p>
      </div>
    </div>
  </div>
 <div class="col">
    <div class="card">
      <img src="/earthquake.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Things to do before-during-after an earthquake!</h5>
        <p class="card-text">Here is an image where you could see the things to do before-during-after an earthquake occurs, click the image to enlarge the image.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/SOP.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Earthquake Preparedness</h5>
        <p class="card-text">Know what to pack and prepare before an earthquake occurs! prevention is always better!</p>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/earthquake.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Things to do before-during-after an earthquake!</h5>
        <p class="card-text">Here is an image where you could see the things to do before-during-after an earthquake occurs, click the image to enlarge the image.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/SOP.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Earthquake Preparedness</h5>
        <p class="card-text">Know what to pack and prepare before an earthquake occurs! prevention is always better!</p>
      </div>
    </div>
  </div>
 <div class="col">
    <div class="card">
      <img src="/earthquake.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Things to do before-during-after an earthquake!</h5>
        <p class="card-text">Here is an image where you could see the things to do before-during-after an earthquake occurs, click the image to enlarge the image.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/SOP.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Earthquake Preparedness</h5>
        <p class="card-text">Know what to pack and prepare before an earthquake occurs! prevention is always better!</p>
      </div>
    </div>
  </div>
</div>
<center>
<a href="dashboardfinal" class="btn btn-warning" type="button">
            Go back to dashboard
        </a>
        </center>
</body>
@code {

}
